.container {
    box-sizing: border-box;
    height: 30rem;
    width: 100%;
    background: #000814;
    padding-top: 3rem;
  }
  
  .container * {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .line {
    width: 100%;
    height: 0.1rem;
    margin: 0 auto;
    background-color: #e9edc9;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 10rem;
    height: 100%;
  }
  
  .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .upper .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    text-align: center;
  }
  
  .logo {
    width: 100%;
    height: auto;
    aspect-ratio: 2/1.2;
  }
  
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 0;
  }
  
  .navigation .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navigation .inner h3 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  
  .navigation .inner ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  
  .navigation .inner ul > *:hover {
    color: gray;
    font-size: 1.05rem;
  }
  
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .bottom p {
    font-size: 0.7rem;
    color: gray;
  }