.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: ease-in 1s;
    z-index: 50;
  }
  
  .content {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    color: whitesmoke;
  }
  
  .content * {
    color: inherit;
    text-decoration: none;
  }
  
  .image {
    width: 5rem;
    height: auto;
    aspect-ratio: 2/1.5;
  }
  
  .web_list {
    display: flex;
    gap: 2rem;
  }