.category {
    height: 700px;
    width: 100%;
    margin-bottom: 2rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
    position: relative;
  }

  
  .category__item__container {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .category__item__container p {
    font-weight: 400;
    position: absolute;
    text-shadow: 0 0 40px black, 0 0 40px black, 0 0 400px black, 0 0 400px black; 
  }
  
  .category__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.5s ease-in-out;
  }
  
  .category__item::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .category__item__container:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1534093607318-f025413f49cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y2xhc3NpYyUyMGNhcnxlbnwwfDB8MHx8fDI%3D&auto=format&fit=crop&w=500&q=60);
  }
  
  .category__item__container:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1489008777659-ad1fc8e07097?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  }
  
  .category__item__container:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1504455637435-8d1a13cd8a93?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  }
  
  .category__item:hover::before {
    opacity: 0.5;
  }
  
  .category__item:hover {
    color: white;
    font-size: 2.5rem;
  }

@media only screen and (width>= 600px) {
  .category {
    height: 20rem;
    flex-direction: row;
  }
  }
